.cart {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  min-height: 250px;
  min-width: 100%;
  max-width: 350px;
  background-color: white;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  z-index:5;
}
.cart-header{
  border-bottom:1px solid;
  font-weight:550;
  color:var(--very-dark-blue);
}
.cart-item-wrapper {
  padding-left: 0;
}

.cart-thumbnail {
  width: 50px;
  height: auto;
  border-radius:8px;
}

.cart-name,
.cart-price {
  padding: 0;
  margin: 0.5rem 0;
}

.cart-name-wrapper {
  margin: 0 0.5rem;
}

.cart-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-price{
  font-weight:500;
  color:var(--very-dark-blue);
}

.checkout-btn {
  background-color: var(--orange);
  padding: .75rem 0.5rem;
  border-radius: 10px;
  border: none;
  width:100%;
  font-weight:600;
}